/* Layout */

body {
    background: url('/static/handmadepaper.jpg');
    font-family: "proxima-nova-condensed", sans-serif;
    font-weight: 300;
    line-height: 1.75em;
}

.sf-header {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 10;
    top: 0;
}

.sf-header a.sf-logo  {
    margin-right: 15px;
    margin-top: 7px;
}

.container-fluid #sidebar,
.container-fluid main {
    margin-top: 25px;
}


/* Sidebar */

#sidebar {
    height: 100%;
    background: #414c50 url('/static/concrete_wall.jpg');
    width: 300px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #ddd;    
}
#sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar-wrapper {
    width: 601px;
    position: relative;
    transition: all 300ms ease-out;
}

.sidebar-wrapper.active{
    left: -301px;
}
.splash,
.settings {
    float: left;
    width: 300px;
    padding: 25px;
    padding-bottom: 80px;
    position: relative;
}
.splash {
    width: 301px;
    border-right: 1px dashed #999;
}

.sotu-logo {
    padding: 1em;
}

.splash .info {
    padding: 1.25em 0;
    margin: 2em 0 1em;
    border-top: 4px double #222;
    border-bottom: 4px double #222;
}

/* here lies buttons */

.btn,
.btn:link,
.btn:active,
.btn:visited {
    width: 100%;
    padding: 10px;           
    border: 0;
    border-radius: 3px;
    height: 38px;
    font-family: "proxima-nova-condensed", sans;
    text-transform: uppercase;
    color: #fff;
}
.btn.btn-cta {
    margin: 10px 0;
    transition: background 150ms ease-out;
}
.btn.btn-cta:hover {
    background: #89171a;
}
.btn-back,
.btn-back:hover {
    border-radius: 0;    
    width: 300px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.25);
    height: 45px;
    padding: 15px;
    z-index: 5;
}
.btn-back:hover {
    background: rgba(0,0,0,.35);    
}
.info .glyphicon-chevron-right {
    left: 10px;
    -webkit-animation: cta .8s ease-out infinite; /* Safari 4+ */
    -moz-animation:    cta .8s infinite; /* Fx 5+ */
    -o-animation:      cta .8s infinite; /* Opera 12+ */
    animation:         cta .8s infinite;    
}

/* sidebar content*/

#sotu-chart {
    margin: 25px;
    height: 200px;
    width: 200px;
}

.prezColors .q0-9 { fill:#BD2D28;  }
.prezColors .q1-9 { fill:#42A5B3;  }
.prezColors .q2-9 { fill:#5C8100;  }
.prezColors .q3-9 { fill:#E2BA22;  }
.prezColors .q4-9 { fill:#8E6C8A;  }
.prezColors .q5-9 { fill:#E58429;  }
.prezColors .q6-9 { fill:#0F8C79;  }
.prezColors .q7-9 { fill:#D15A86;  }
.prezColors .q8-9 { fill:#6B99A1;  }

/* form and fancy schmancy range sliders */

.settings form {
    padding-top: 2em;
}
.settings form .settings-title {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px dashed #666;
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.settings form label {
    font-family: "proxima-nova-condensed",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .75em;
    color: #ccc;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 5px;
    padding: 0;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.3, #c9a706),
        color-stop(0.3, #333)
    );
    border-radius: 0;
    border: 0;
    transition: opacity 100ms ease-out;
}

input[type="range"]:hover {
    opacity: .8;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #fff;
    height: 13px;
    width: 6px;
    cursor: pointer;
}        


/* sotu speech */

main {
    margin-left: 300px;
    padding: 0 15px;
}

.the-speech {
    font-family: "ff-meta-serif-web-pro", serif;
    font-size: 1.4em;
    line-height: 1.75em;
    color: #333;    
    padding: 2em;
}

.the-speech h2 {
    width: 100%;
    text-align: center;
    font-family: "ff-meta-serif-web-pro", serif;
    padding-bottom: .25em;
    border-bottom: 4px double #ccc;
    font-size: 4.5em;
    color: #2980b9;
    letter-spacing: -1px;
    padding: 0.5em 0 0.25em;
    margin-bottom: .75em;
    line-height: .75em;
}

.the-speech h2 span.fancy {
    font-size: 0.6em;
    font-style: italic;
    text-transform: lowercase;
    font-family: times;
    display: inline-block;
    margin: 0 5px 0 10px;
    position: relative;
    top: -0.25em;
}

.the-speech p:first-of-type {
    text-transform: uppercase;
}

.the-speech p {
    margin-bottom: 1.5em;
}


/* footer */

footer {
    width: 100%;/*
    padding-top: 10px;
    padding-bottom: 10px;*/
    padding: 10px;
    margin-left: 300px;
    position: fixed;        
    min-height: 45px;
    bottom: 0;
    background: rgba(245,245,245,0.9);
    border-color: #eee;
    transition: background 200ms ease-out;
}

footer:hover {
    background: rgba(255,255,255,1);    
}

footer .left {
    /*border-bottom: 1px dashed #ddd;*/
    /*margin-bottom: 10px;*/
}

.footer-link {
    float: left;
    margin: 5px 10px 0px;
}
.right .footer-link {
    float: right;
    text-align: right;
}
.footer-link a {
    padding-bottom: 3px;
    transition: color 150ms ease-out;
}

a.footer-link:hover {
    cursor: pointer;
}

.footer-link a .glyphicon {
    margin-right: 5px;
}

/* Animations */
@-webkit-keyframes cta {
  0%, 100% { left: 10px; }
  50%      { left: 15px; }
}
@-moz-keyframes cta {
  0%, 100% { left: 10px; }
  50%      { left: 15px; }
}
@-o-keyframes cta {
  0%, 100% { left: 10px; }
  50%      { left: 15px; }
}
@keyframes cta {
  0%, 100% { left: 10px; }
  50%      { left: 15px; }
}


/* Media Queies */
@media (max-width: 1055px) {
    .footer-link {
        width: 100%;
    }
}
