{% extends "sfapp/flask/base-fluid.html" %}

{% block title %}State of the Union Machine - Sunlight Foundation{% endblock %}

{% block head %}
    <script type="text/javascript" src="//use.typekit.net/cet2iqp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="static/screen.css"/>
{% endblock %}

{% block container %}
        <aside id="sidebar">
            <div class="sidebar-wrapper">
                <section class="splash">
                    <h1 class="sr-only">State of the Union Machine</h1>

                    <img class="sotu-logo img-responsive" src="/static/sotumachine-logo.png" alt="State of the Union Machine"/>

                    <div class="info">
                        <p class="prezColors">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae mauris in turpis mattis tincidunt. Phasellus cursus adipiscing lectus et venenatis. Suspend potenti. Duis mollis vestibulum ultrices.</p>
                        <button type="button" class="btn btn-primary btn-cta">Generate a New Speech! <span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>

                    <div id="sotu-chart">
                        <!-- donut here -->
                    </div>

                    <a class="btn btn-info btn-back hidden"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                </section>

                <section class="settings">
                    <form role="form">
                        <span class="settings-title">SOTU Settings Title Thing</span>
                        <div class="form-group">
                            <label for="">Barack Obama</label>
                            <input type="range" class="form-control" min="0" max="5" step="1" value="7" name="" id="slider-44">
                        </div>
                        <div class="form-group">
                            <label for="">George W. Bush</label>
                            <input type="range" class="form-control" min="0" max="5" step="1" value="1" name="" id="slider-43">
                        </div>
                        <div class="form-group">
                            <label for="">Bill Clinton</label>
                            <input type="range" class="form-control" min="0" max="5" step="1" value="3" name="" id="slider-42">
                        </div>
                        <div class="form-group">
                            <label for="">George H. W. Bush</label>
                            <input type="range" class="form-control" min="0" max="5" step="1" value="10" name="" id="slider-41">
                        </div>
                        <div class="form-group">
                            <label for="">Ronald Reagan</label>
                            <input type="range" class="form-control" min="0" max="5" step="1" value="3" name="" id="slider-40">
                        </div>
                        <div class="form-group">
                            <label for="">Theodore Roosevelt</label>
                            <input type="range" class="form-control" min="0" max="5" step="1" value="5" name="" id="slider-26">
                        </div>
                        <div class="form-group">
                            <label for="">Abraham Lincoln</label>
                            <input type="range" class="form-control" min="0" max="5" step="1" value="3" name="" id="slider-16">
                        </div>
                        <div class="form-group">
                            <label for="">Thomas Jefferson</label>
                            <input type="range" class="form-control" min="0" max="5" step="1" value="3" name="" id="slider-03">
                        </div>
                        <div class="form-group">
                            <label for="">George Washington</label>
                            <input type="range" class="form-control" min="0" max="5" step="1" value="3" name="" id="slider-01">
                        </div>
                    </form>
                    <a class="btn btn-primary btn-cta generate-it">Go! Go! Go!</a>
                </section>
            </div>
        </aside>

        <main>
            <div class="row">
                <div class="the-speech col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <h2>State<span class="fancy">of the</span>Union</h2>
                    <div class="the-speech-content">
	                    <p class="prezColors">
	                        <span class="sentence"  data-prez-id="44">Mr. Speaker, John F. Kennedy and Ronald Reagan:</span>
	                    </p>
	                    <p class="prezColors">
	                        <span class="sentence"  data-prez-id="41">Through a strategy that develops every available source of strength, we need and sacrifice what we spend on education each year, we have to invest in basic research.</span>
	                        <span class="sentence"  data-prez-id="26">Where jobs grew more slowly than during any prior expansion, where businesses will partner with the corrosive influence of lobbyists, I'll deliver when I took office, I've asked this Congress that helps them succeed.</span>
	                        <span class="sentence"  data-prez-id="44">That Joe Biden originally wrote almost 20 years and less foreign oil than in 2008.</span>
	                        <span class="sentence"  data-prez-id="01">This year.</span>
	                    </p>
	                    <p class="prezColors">
	                        <span class="sentence"  data-prez-id="03">So that homeowners can move into a crisis that put millions out of anger or yield to the courage and sacrifice of those Washington gimmicks that lets us pretend we solve a problem.</span>
	                        <span class="sentence"  data-prez-id="16">Air is safe to eat.</span>
	                    </p>
	                    <p class="prezColors">
	                        <span class="sentence"  data-prez-id="43">Together, we have cleared away the rubble of crisis, and can say with renewed confidence that the state of our union is stronger.</span>
	                    </p>
	                    <p class="prezColors">
	                        <span class="sentence"  data-prez-id="40">But we gather here knowing that there are millions of Americans whose hard work and dedication have not yet been rewarded.</span>
	                        <span class="sentence"  data-prez-id="42">Our economy is our generation’s task, then, to reignite. The true engine of America’s economic growth – a rising, thriving middle data-prez-id.</span>
	                    </p>
	                    <p class="prezColors">
	                        <span class="sentence"  data-prez-id="44">So that homeowners can move into a crisis that put millions out of anger or yield to the courage and sacrifice of those Washington gimmicks that lets us pretend we solve a problem.</span>
	                        <span class="sentence"  data-prez-id="26">Air is safe to eat.</span>
	                    </p>
	                    <p class="prezColors">
	                        <span class="sentence"  data-prez-id="03">Together, we have cleared away the rubble of crisis, and can say with renewed confidence that the state of our union is stronger.</span>
	                    </p>
	                    <p class="prezColors">
	                        <span class="sentence"  data-prez-id="41">But we gather here knowing that there are millions of Americans whose hard work and dedication have not yet been rewarded.</span>
	                        <span class="sentence"  data-prez-id="42">Our economy is our generation’s task, then, to reignite. The true engine of America’s economic growth – a rising, thriving middle data-prez-id.</span>
	                    </p>
                    </div>
                </div>
            </div>
        </main>

        <div style="visible:none">
            <p>
The State of the Union Machine uses models of language to randomly generate text based on different presidents&apos; previous speeches. These models are called &quot;n-gram models&quot; or &quot;Markov models,&quot; and are used in many places, from machine translation to DNA sequencing.
            </p>

            <p>
The models are trained on a corpus of text, and they learn about the probability of a word given its preceding context. It&quot;s a bit like a robot that learns how to fill in the blanks. For instance: models trained on recent presidents have learned that the words <em>my fellow</em> are frequently followed by the word <em>Americans</em>.
            </p>

            <p>
Our models were trained on previous State of the Union deliveries, which are <a href="http://www.presidency.ucsb.edu/sou.php">archived</a> by researchers at the University of California, Santa Barbara&apos;s <a href="http://www.presidency.ucsb.edu/index.php">American Presidency Project</a>. They were trained using the <a href="http://nltk.org/">Natural Language Toolkit</a>&apos;s language modeling tools. For more information on technical details, please visit our <a href="https://github.com/sunlightlabs/sotumachine">Github repo</a>!
</p>
        </div>

        <footer>
            <div class="row">
                <div class="col-sm-6 left">
                    <span class="footer-link">
                        <a><span class="glyphicon glyphicon-book"></span> Read Our Methodology</a>
                    </span>
                    <span class="footer-link">
                        <a href=""><span class="glyphicon glyphicon-download"></span> Download SOTUs from 1980&ndash;2013</a>
                    </span>
                </div>

                <div class="col-sm-6 hidden-xs right">
                    <span class="footer-link">
                        <a id="permalink"><span class="glyphicon glyphicon-link"></span> Get Permalink</a>
                    </span>
                    <span class="footer-link">

                        <!-- Social Media Placeholders -->
                        <!-- Replace all this -->

                        <a><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <a><span class="glyphicon glyphicon-thumbs-up"></span> Tweet</a>
                    </span>

                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>

            </div>
        </footer>

        {% block footer %}
        {% endblock %}

{% endblock %}

{% block js %}
    <!-- script src="static/chart.min.js"></script -->
    <script src="static/underscore-min.js"></script>
    <script src="static/d3.v3.min.js"></script>
    <script src="static/donut_chart.js"></script>
    <script src="static/application.js"></script>
{% endblock %}    
